
.back {
background-color: #D8D55D;
margin-top: 130px;
margin-bottom: 0px;
}

.SearchBar {
background-color: #EEEEEE;
border-radius: 20px;
border: 15px solid white;  
width: 40vw;
outline-color: red;
}

.textLight {
color: white;
  
}

.textBold {
color: white;
font-weight: bold;
}

.MainButton {
width: 200px;
height: 75px;
}

.BlueSeccion {
background-color: #4188C8;
}


.AccordionOptions {
background-color: #4188C8;
color: white;
}