.MenuBar ul li{
list-style: none;	
display: inline-block; 
margin-left: 30px;
}

.Bar {
top: 0;
left: 0;
right: 0;
background-color: white;
}

.MenuOptions  {
background-color: white;
text-align: right;
font-weight: bold;
margin-right: 50px;
}

.MenuOptions a{
text-decoration:none;
}

.burgerMenu {
  display: none;
}

.MenuOptionsVertical {
  display: none;
}


/* Movil */
@media (max-width: 575.98px)and (orientation:portrait) {

.MenuOptions  {
background-color: white;
text-align: left;
font-weight: bold;
margin-right: 50px;


}
.verticalMenu{
  text-decoration:none;
}

.MenuOption {
  display: none;
}

.burgerMenu {
  display: inline-block;
  color: #602993;
  margin-right: 10px;
}

.burgerMenuItems {
list-style-type: none;
text-align: right;
margin-right: 2%;

}

.MenuOptionsVertical {
  list-style: none; 
  display: block; 
  text-align: center;

}

 }